/.github export-ignore
/docker export-ignore
/docs export-ignore
/features export-ignore
/spec export-ignore
/src/Tests export-ignore
.auto-changelog export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.scrutinizer.yml export-ignore
behat.yaml.dist export-ignore
docker-compose.yaml export-ignore
grumphp.yml.dist export-ignore
phpspec.yml.dist export-ignore
psalm.xml export-ignore
